<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>The House</title>
</head>
<body>
    <div class="header">
        <div id="player-name"> <img src="incs/imgs/coins.png" height="85px" alt="">9</div>
        <div class="location">
            <div class="location-text">Location</div>
            <div class="area">Forrest</div>
        </div>
        <div class="health"> <img src="incs/imgs/heart.png" height="85px" alt="">  <img src="incs/imgs/heart.png" height="85px" alt=""> <img src="incs/imgs/heart.png" height="85px" alt=""> </div>
    </div>
    <div class="info">
        <h2>Inventory</h1>
            <div class="inventory-container">
                <ul>
                    <li id='test'>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li>Item <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li class="empty-item"> <span></span> <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    <li class="empty-item"> <span></span> <div class="inv-control"><i class="fas fa-question-circle icons"></i><i class="fas fa-trash-alt icons"></i></div> </li>
                    
                </ul>
            </div>
            <img src="incs/imgs/btm-embelish.png" alt="" class="btm-embelish">
    </div>
    <div class="content">
        <div id="story-text">
            
        </div>
        <div class="user-input">
                <input type="text" id="input">
                <div id="button" onclick="startGame()">START</div>
        </div>
    </div>
</body>
<script src="/js/main.js"></script>
</html>